<!DOCTYPE html>
<html ng-app='MenuCategoriesApp'>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
    <title>http</title>
  </head>
  <body>
    <h1>Using $http Service</h1>
    <div ng-controller='MenuCategoriesController as menu'>
      <h3>List of menu categories</h3>
      <ul>
        <li ng-repeat="category in menu.categories">
          (<a href="" ng-click="menu.logMenuItems(category.short_name);">
          {{category.short_name}}</a>)
          {{category.name}}
        </li>
      </ul>
    </div>
  </body>
</html>
